  <footer class="foot">
        <div class="row">
            <span class="col-md-3">
                <ul>
                    <li><a href="#" class="fa fa-facebook"></a>Facebook</li>
                    <li><a href="#" class=" fa fa-twitter"></a>Twitter</li>
                    <li><a href="#" class="fa fa-linkedin"></a>LinkedIn</li>
                    <li><a href="#" class="fa fa-instagram"></a>Instagram</li>
                </ul>
            </span>

            <span class="col-md-3">
                <ul class="page-links">
                    <a href="index.html">
                        <li>Home</li>
                    </a>
                    <a href="about.html">
                        <li>About us</li>
                    </a>
                    <a href="contact.html">
                        <li>Contact us</li>
                    </a>
                </ul>
            </span>

            <span class="col-md-3">
                <ul class="blog-links">
                    <a href="">
                        <li>Technology</li>
                    </a>
                    <a href="">
                        <li>History</li>
                    </a>
                    <a href="">
                        <li>Cooking</li>
                    </a>
                    <a href="">
                        <li>Lifestyle</li>
                    </a>
                    <a href="">
                        <li>Travelling</li>
                    </a>
                </ul>

            </span>
        </div>

    </footer>

   